@import './base.css';

a,
.routs {
  text-decoration: none;
  color: darkblue;
  font-size: 2rem;
  transition: 0.4s;
}

button {
  background-color: darkblue;
  color: whitesmoke;
  font-size: 1rem;
  border-radius: 5rem;
}

@media (hover: hover) {
  a:hover {
    background-color: lightblue;
    border-radius: 5rem;
  }

  button:hover {
    background-color: lightseagreen;
    color: darkblue;
    cursor: pointer;
  }
}

body {
  background-color: lightblue;
}

