@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.routs {
  text-decoration: none;
  color: darkblue;
  font-size: 2rem;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: lightblue;
    border-radius: 5rem;
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
